<launch>
  <!--<arg name="multi_robot_name" default=""/>-->
  <arg name="set_lidar_frame_id" default="base_scan"/>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi, flushbot]"/>
  
  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_model.launch">
  </include>
  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_lidar.launch">
  </include>
  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_core.launch">
  </include>
  <!--<node pkg="turtlebot3_bringup" type="turtlebot3_diagnostics" name="turtlebot3_diagnostics" output="screen"/>-->

</launch>
